@import helper._
@import models._
@import controllers._
@(signUpForm: Form[Authors])(implicit messages: Messages)


@main("गुलमोहर/Gulmohaar") {
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well well-sm">
            <h2>लेख प्रकाशित करें</h2>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h3>Article submition form here</h3><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12"><div class="well well-sm">
        <h2>लेखक पंजीकरण</h2>
@helper.form(action = routes.HomeController.signUp) {
        <span class="glyphicon glyphicon-user">
        @helper.inputText(signUpForm("name"), 'id -> "name", 'size -> 30,'_label -> "Name ")
            </span>
        <span class="glyphicon glyphicon-tag">
        @helper.inputText(signUpForm("designation"), 'id -> "designation", 'size -> 30,'_label -> "Designation")
            </span>
        <span class="glyphicon glyphicon-briefcase">
@helper.inputText(signUpForm("about"), 'id -> "about", 'size -> 30,'_label -> "About You")
            </span>
        <span class="glyphicon glyphicon-envelope">
        @helper.inputText(signUpForm("email"), 'id -> "email", 'size -> 30,'_label -> "Email")
            </span>
        <br>
<input type="submit">
}
    </div>
        </div>
</div>
}