@import helper._
@import models._
@import controllers._
@(signUpForm: Form[Authors],articleForm: Form[Article])(implicit messages: Messages)


@main("गुलमोहर/Gulmohaar") {
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well well-sm">
            <h2>लेख प्रकाशित करें</h2>
            @helper.form(action = routes.HomeController.articleUpload,'enctype ->
            "multipart/form-data") {
            <span class="glyphicon glyphicon-envelope">
        @helper.inputText(articleForm("email"), 'id -> "email", 'size -> 30,'_label -> "ईमेल")
            </span>
            <span class="glyphicon glyphicon-envelope">
        @helper.inputPassword(articleForm("password"), 'id -> "password", 'size -> 30,'_label -> "पासवर्ड")
            </span>
            <span class="glyphicon glyphicon-envelope">
        @helper.inputText(articleForm("title"), 'id -> "title", 'size -> 30,'_label -> "शीर्षक")
            </span>
            <span class="glyphicon glyphicon-envelope">
        @helper.input(articleForm("body"),'size -> 30,'_label -> "लेख सामग्री") { (id, name, value, args) =>
    <textarea name="@name" id="@id" @toHtmlArgs(args)></textarea>
}
            </span>
            <br>

            <input type="submit" value="जमा करें" class="btn btn-primary">
            }
            @helper.form(action = routes.HomeController.showForgotPassword) {
            <input type="submit" value="पासवर्ड भूल गए" class="btn btn-danger">
            }
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well well-sm">
            <h2>लेखक पंजीकरण</h2>
            @helper.form(action = routes.HomeController.signUp) {
            <span class="glyphicon glyphicon-user">
        @helper.inputText(signUpForm("name"), 'id -> "name", 'size -> 30,'_label -> "नाम ")
            </span>
            <span class="glyphicon glyphicon-tag">
        @helper.inputText(signUpForm("designation"), 'id -> "designation", 'size -> 30,'_label -> "पद")
            </span>
            <span class="glyphicon glyphicon-briefcase">
@helper.inputText(signUpForm("about"), 'id -> "about", 'size -> 30,'_label -> "आपके बारे में")
            </span>
            <span class="glyphicon glyphicon-envelope">
        @helper.inputText(signUpForm("email"), 'id -> "email", 'size -> 30,'_label -> "ईमेल")
            </span>
            <br>
            <input type="submit" value="जमा करें" class="btn btn-primary">
            }
        </div>
    </div>
</div>
}